/*meet our team*/

.about-ous{
  @include list-flex("fc");

  font-size: $fs15;
  font-family: $ffrr;
  color: $color_p;
  line-height: $lh16;
  text-align: center;
  margin: 0 auto;
  max-width: 980px;
  margin-bottom: 60px;
}


.team-list{
  @include list-flex("fsbfs");
  margin-bottom: 80px;
}

.team-list__card{
  @include list-flex("fwcsbc");

  min-width: $w_img;
  background:linear-gradient(to bottom ,$color_main 470px, $color_white 0);
}

.team__wrapper{
  margin-bottom: 30px;

    &:hover{
      -webkit-transition:-webkit-transform  $hover_time linear 0ms;
      transition:-webkit-transform  $hover_time linear 0ms;
      transition:transform  $hover_time linear 0ms;
      transition:transform  $hover_time linear 0ms, -webkit-transform  $hover_time linear 0ms;

      -webkit-transform: translate(-10px , -10px);
          transform: translate(-10px , -10px);
    }
}

.team__img{
  width: 100%;
  height: auto;
}

/* --------------- */
.team__name{
      font-size: $fs14;
      font-family: $ffmr;
      color: $color_h2p;
      text-transform: uppercase;

      line-height: $lh12;
      margin-bottom: 10px;
}

.team__profile{
  font-size: $fs15;
  font-family: $ffrli;
  color: $color_p;
  font-style: italic;
  line-height: $lh16;

    &::first-letter{
      text-transform: uppercase;
    }
}

