.creative{
  @include list-flex();
  width: 900px;
}

.creative__title{
  @include list-flex("fccc");
  @extend %title;

  font-size: $fs150;
  color: $color_white;
  min-height: 660px;

  &--text{
    @extend %text;

    font-size: $fs72;
    color: $color_white;
    text-transform: capitalize;
  }
}


.creative-button{
  @extend %title;
  @extend %button;

  background-color: transparent;
  border: 3px solid $color_white;
  min-width: 155px;
  height: 40px;
  padding-top: 10px;
  margin-bottom: 230px;

  color: $color_white;
  &:hover,
  &:focus{
    border: 3px solid $color_lg;
    color: $color_lg;
  }
}

