/*footer*/
footer{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  min-height: 62px;
  border-top: 1px solid $color_email;
}


.footer__text , .footer__text--color{
      font-size: $fs14;
      font-family: $ffmr;
      color: $color_h2p;
      line-height: $lh12;
}
.footer__text::before{
  content: "\00A9";
  display: inline;
  margin-right: 5px;
}
.footer__text--color{
  color: $color_hover;
}

.footer-form{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align:	stretch;
          align-items:	stretch;
  width: $w_img;
  min-height: $h_input;
}
.footer-form input[type="email"]::-webkit-input-placeholder{
 font-size: $fs15;
 font-family:  $ffrli;
 color: $color_email;
 font-style: italic;
 line-height: $lh16;
 text-align: left;
}
.footer-form input[type="email"]::-moz-placeholder{
 font-size: $fs15;
 font-family:  $ffrli;
 color: $color_email;
 font-style: italic;
 line-height: $lh16;
 text-align: left;
}
.footer-form input[type="email"]:-ms-input-placeholder{
 font-size: $fs15;
 font-family:  $ffrli;
 color: $color_email;
 font-style: italic;
 line-height: $lh16;
 text-align: left;
}
.footer-form input[type="email"]::-ms-input-placeholder{
 font-size: $fs15;
 font-family:  $ffrli;
 color: $color_email;
 font-style: italic;
 line-height: $lh16;
 text-align: left;
}
.footer-form input[type="email"]::placeholder , .footer-email{
 font-size: $fs15;
 font-family:  $ffrli;
 color: $color_email;
 font-style: italic;
 line-height: $lh16;
 text-align: left;
}
.footer__email{
 -webkit-box-flex: 3;
         flex-grow: 3;

 border: 1px solid $color_email;
 border-right: none;
 color: $color_p;
 padding-left: 12px;
}
.footer__button{
  -webkit-box-flex: 2;
          flex-grow: 2;
  height: $h_input;
  border: 1px solid $color_main;
  background-color: $color_main;

  color: $color_white;

}
