
.main__title{
  justify-content: flex-start;

  font-size: $fs30;
  color: $color_h2p;
  min-height: 180px;
    &--text{

      text-transform: lowercase;
      font-weight: 400;
      font-size: $fs24;
      color: $color_h2p;
      margin-bottom: 16px;

        &::first-letter{
          text-transform: uppercase;
        }
    }

    &::after{
    content: "";
    display:block;
    margin: 0 auto;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    width: 60px;
    height: $w;
    background-color:$color_hover;
   }
}







/*amazing sevices*/
.amazing{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient:	vertical;
  -webkit-box-direction:	normal;
          flex-direction:	column;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.amazing-content{
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  min-height: 330px;
}
.amazing-content .amazing__card{
  -webkit-box-flex: 0;
          flex: 0 0 380px;

}
.amazing__card {
  min-height: 70px;
  margin-bottom: 94px;
}
.amazing__title{
  display: block;
  margin-left: 82px;
  font-size: $fs14;
  font-family: $ffmr;
  color: $color_h2p;
  text-transform: uppercase;
  line-height: $lh12;
  margin-bottom: 12px;
}

.amazing__text{
  margin-left: 82px;
  font-size: $fs15;
  line-height:$lh16;
  font-family: $ffrr;
  color: $color_p;

}
.amazing__icon{
  display: block;
  float: left;
  height: $h_labe;
  width: $w_labe;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);

  fill: $color_main;
}
.amazing__icon:hover{
  fill: $color_lg;
}
                      /*meet our team*/

.about-ous{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack:center;
          justify-content:center;
  font-size: $fs15;
  font-family: $ffrr;
  color: $color_p;
  line-height: $lh16;
  text-align: center;
  margin: 0 auto;
  width: 980px;
  margin-bottom: 60px;
}


.team-list{
  display: -webkit-box;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align:	start;
          align-items:	flex-start;
  min-height: 625px;
}

.team-list__card{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-pack:	center;
          justify-content:	center;
  -webkit-box-align:	center;
          align-items:	center;
  min-height: $h_img;
  background:linear-gradient(to bottom ,$color_main 470px, $color_white 0);
}

.team__wrapper{
  margin-bottom: 30px;
  -webkit-transition:-webkit-transform  $hover_time linear 0ms;
  transition:-webkit-transform  $hover_time linear 0ms;
  transition:transform  $hover_time linear 0ms;
  transition:transform  $hover_time linear 0ms, -webkit-transform  $hover_time linear 0ms; /* Получаеться это можно и указывать в класе не обезательно в hover*/
}

.team__wrapper:hover{
  -webkit-transform: translate(-10px , -10px);
  -ms-transform: translate(-10px , -10px);
      transform: translate(-10px , -10px);
}

.picture__source,
.team__picture{
  position: absolute;
  min-width: $w_img;
  max-width: 760px;
  min-height: $h_img;
  max-height: 940px;
}

.team__img{
  position: absolute;
  width: 100%;
  height: auto;
}

.team__wrapper:hover .team__img{
  -webkit-transition: opacity  $hover_time linear 0ms;
  transition: opacity $hover_time linear 0ms;
  opacity: 0.1;
}

.soc__wrapper{
  width: $w_img;
  height: $h_img;
  background:-webkit-gradient(
      linear,
      left bottom, left top,
      from($color_lg),
      to($color_hover));
  background:linear-gradient(
      to top,
      $color_lg,
      $color_hover);
}
/* подняли сылки над всеми картинками */
.team__wrapper:hover .soc__link{
  -webkit-transition: z-index  $hover_time linear 200ms;
  transition: z-index  $hover_time linear 200ms;
  z-index: 11;
}

/* Блок социальных иконок */
.soc-list{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.soc__link{
  display: block;
  background-color: $color_lg;

  width: $w_icon;
  height: $h_icon;
}

.soc__icon:hover{
  background-color: $color_hover;

  fill: $color_white;
}

.soc__icon{
  width: $w_icon;
  height: $h_icon;
  padding-top: 15px;
  padding-left: 15px;
  fill:$color_hover;
  cursor: pointer;
}
.pl--20{
  padding-left: 20px;
}


/* --------------- */
.team__name{
      font-size: $fs14;
      font-family: $ffmr;
      color: $color_h2p;
      text-transform: uppercase;

      line-height: $lh12;
      margin-bottom: 10px;
}
.team__profile{
  font-size: $fs15;
  font-family: $ffrli;
  color: $color_p;
  font-style: italic;
  line-height: $lh16;
}
.team__profile::first-letter{
  text-transform: uppercase;
}
