/*meet our team*/

.about-ous{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack:center;
          justify-content:center;
  font-size: $fs15;
  font-family: $ffrr;
  color: $color_p;
  line-height: $lh16;
  text-align: center;
  margin: 0 auto;
  width: 980px;
  margin-bottom: 60px;
}


.team-list{
  display: -webkit-box;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align:	start;
          align-items:	flex-start;
  min-height: 625px;
}

.team-list__card{
  @extend %list;
  flex-wrap: wrap;

  min-height: $h_img;
  background:linear-gradient(to bottom ,$color_main 470px, $color_white 0);
}

.team__wrapper{
  margin-bottom: 30px;
  -webkit-transition:-webkit-transform  $hover_time linear 0ms;
  transition:-webkit-transform  $hover_time linear 0ms;
  transition:transform  $hover_time linear 0ms;
  transition:transform  $hover_time linear 0ms, -webkit-transform  $hover_time linear 0ms;

    &:hover{
      -webkit-transform: translate(-10px , -10px);
          transform: translate(-10px , -10px);

          .team__img{
                -webkit-transition: opacity  $hover_time linear 0ms;
                -webkit-transition: opacity $hover_time linear 0ms;
                transition: opacity $hover_time linear 0ms;
                opacity: 0.1;
       }
    }
    /* подняли сылки над всеми картинками */
    &:hover .soc__link{
      -webkit-transition: z-index  $hover_time linear 200ms;
      transition: z-index  $hover_time linear 200ms;
      z-index: 11;
    }
}



.picture__source,
.team__picture{
  position: absolute;
  min-width: $w_img;
  max-width: 760px;
  min-height: $h_img;
  max-height: 940px;
}

.team__img{
  position: absolute;
  width: 100%;
  height: auto;
}


/* --------------- */
.team__name{
      font-size: $fs14;
      font-family: $ffmr;
      color: $color_h2p;
      text-transform: uppercase;

      line-height: $lh12;
      margin-bottom: 10px;
}

.team__profile{
  font-size: $fs15;
  font-family: $ffrli;
  color: $color_p;
  font-style: italic;
  line-height: $lh16;

    &::first-letter{
      text-transform: uppercase;
    }
}

