/*footer*/
footer{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;

  @extend %container;

  min-height: 62px;
  border-top: 1px solid $color_email;
}


.footer__text {
      font-size: $fs14;
      font-family: $ffmr;
      color: $color_h2p;
      line-height: $lh12;
      font-style: normal;
        &--color{
          @extend .footer__text;

          color: $color_hover;

        }

        &::before{
          content: "\00A9";
          display: inline;
          margin-right: 5px;
        }
}


.footer-form{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align:	stretch;
          align-items:	stretch;
  width: $w_img;
  min-height: $h_input;
}

.footer__email{
 -webkit-box-flex: 3;
         flex-grow: 3;
  @extend %footer-input;

 border: 1px solid $color_email;
 border-right: none;
 color: $color_p;
 padding-left: 12px;
}

.footer-form input[type="email"]::-webkit-input-placeholder{
  @extend %footer-input;
  font-style: italic;
  color: $color_email;
}
.footer-form input[type="email"]::-moz-placeholder{
  @extend %footer-input;
  font-style: italic;
 color: $color_email;

}
.footer-form input[type="email"]:-ms-input-placeholder{
  @extend %footer-input;
  font-style: italic;
  color: $color_email;
}
.footer-form input[type="email"]::-ms-input-placeholder{
  @extend %footer-input;
  font-style: italic;
  color: $color_email;
}
.footer-form input[type="email"]::placeholder{
  @extend %footer-input;
  font-style: italic;
  color: $color_email;
 }



.footer__button{
  @extend %title;
  @extend %button;

  -webkit-box-flex: 2;
          flex-grow: 2;
  height: $h_input;
  border: 1px solid $color_main;
  background-color: $color_main;

  color: $color_white;
}
