$color_hover:rgb(243, 129, 129);//Цвет для ховеров

$color_main:rgb(148, 225, 211); //Основной цвет

$color_lg:rgb(252, 227, 138); //background-color icon

$color_h2p:rgb(51, 51, 51);//цвет текста h2 p

$color_p:rgb(153, 153, 153);//

$color_email:rgb(204, 204, 204);//

$color_white:rgb(255, 255, 255);//

$color_wt:rgba(243, 129, 129, 0.9);// color wrapper top
$color_wb:rgba(252, 227, 138, 0.9);// color wrapper bottom

// $name_map:(
//   $red:#ff0000,
//   $greey: #008000,
//   $black:#000000,
//   $yellow: #ffff00,
//   $pink:#ffc0cb ,
//   $orange:  #ffa500,
//   $white:#ffffff
// );

// .class_name_map{
//   color: map-get($name_map, $red);

// }
