// load time to item
$hover_time: 200ms;

$ffmb:  "Montserrat";
$ffmr:  "Montserrat";
$ffks:  "Kaushan Script";
$ffrr:  "Roboto";
$ffrli: "Roboto";

// line-height
$lh16: 1.6;
$lh12: 1.2;

// font-size
$fs14: 14px;
$fs15: 15px;
$fs24: 24px;
$fs30: 30px;
$fs72: 72px;
$fs150:150px;



// sizes img ,icon and line

$w:3px;  //height line below element

$w_img: 380px;//widht images
$h_img: 470px;//height images

$w_labe: 34px;//widht  labe
$h_labe: 34px;//height labe

$h_input:40px;//height  input

$w_icon: 56px;//widht  icons-block
$h_icon: 56px;//height icons-block

$icon-width: 25px;//widht  icons
$icon-height: 25px;//height  icons

$con_widht: 1200px; //widht container

//item transparency
$opacity1:1;
$opacity0:0;

//this wrapper image
$wrapper:url(../../images/bird.png);
$wrapper2x:url(../images/x2/bird@2x.png);
