html{
    box-sizing: border-box;
    line-height: 1;
}

*,
*::before,
::after{    
    box-sizing: inherit;
}

body{
    width: 1650px;
    height: auto;
    margin: 0 auto;

    font-family: 'Open Sans Bold', sans-serif; 
    font-size: 14px;

}

.container{
    width: 1110px;
    height: auto;
    margin: 0 auto;  /* отцентрировал блок*/
    padding: 0;   
    list-style: 0;
}
/*Header nav*/


ul{
float: right;
margin-top: 40px;
}

ul li{
    display: inline-block;
    margin-right: 30px;
    padding: 0;
    line-height: 11px;
    font-weight: bold;
}
ul li:last-child{
    margin-right: 0;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;

    outline: none;   /*убирает рамку на сылке*/
}

.loge-mart{
    
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;

    font-family: "Roboto",sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    color: #000;
}
.loge-mart::first-letter{
    font-family: "Roboto Black",sans-serif;
    color: rgb(26, 188, 156);
}

.nav-site{
    display: inline-block;
    text-align: right;
}

.nav-site a:hover,
.nav-site a:focus{
    color: rgb(26, 188, 156);
  }


.line{
    clear: both;
}

  /*main to do*/ 
main {
      margin: 0;
      padding: 0;
  }
section h2 {
    
    font-size: 48px;
    font-family: "Roboto";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 0.667;
    text-align: center;

}
.featured,
.latest-content {
    float: left; 
    background-color: greenyellow;

    margin: 0;
    padding: 0;
    list-style: 0;
    margin-bottom: 30px;
    margin-right: 30px;
  }

/*featured products */
.featured{
    width: 255px;
    height: 324px;
}
.featured:nth-child(4n+1){
    margin-right: 0px;
}

.featured img{
    display: block;
    margin: 0;
    padding: 0;
    width: 255px;
    height: 284px;
}

.featured p,
.featured a{
    padding:0;
    margin: 0; 
    padding-left: 13px;
    text-align: left;/* горизонтальное выравнивание текста  */
    line-height: 40px;/* горизонтальное выравнивание текста  */
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

.featured a {
    width:200px;
    background-color: black;
    float: left;
}

.featured a:hover,
.featured a:focus {
    background-color: #1abc9c;
}

.featured p{
    width: 55px;
    background-color: gray;
    float: right;  
}

.featured p::before{
    content:"\0024";
}

.featured p:hover,
.featured p:focus{
    background-color: #7fd9c7;
}

/*latest news*/
  .latest-content{
    width: 350px;
    height: 540px;
  }
  .latest-content img{
    width: 350px;
    height: 264px;
  }
  .latest-content:last-child {
    margin-right: 0px;
  }

  .latest-content input{
    display: block;
    padding:20px 34px ;
    margin: 0 auto;

    font-family: "Playfair Display";
    font-size: 20px;
    line-height: 1.2;
    color: rgb(99, 98, 98);

    border: none;
    background-color: #4ec6ab;
    
  }