html{
    box-sizing: border-box;
    line-height: 1;
}
p
*,
*::before,
::after{    
    box-sizing: inherit;
}
/* обьявление переменых*/
:root{
    --hover_time: 200ms;
    --color_hover:rgb(243, 129, 129);/*Цвет для ховеров*/

    --color_main:rgb(148, 225, 211); /*Основной цвет*/
    --color_lg:rgb(252, 227, 138);
    --color_h2p:rgb(51, 51, 51);
 
    --ffmb:  "Montserrat";/*"Montserrat Bold" должен быть такой , ток чегото он у меня не фурычит */
    --ffmr:  "Montserrat Regular";
    --ffks:  "Kaushan Script Regular";
    --ffrr:  "Roboto Regular";
    --ffrli: "Roboto Light Italic";
    --ffss:   sans-serif;
}

/*общие*/
body,div,header,main,footer,section,article,h1,h2,h3,p,a,ul,ol,li,address,img,input,span,figure,figcaption,cite{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;   /*убирает рамки*/
}


body{
    width: 100%;
    height: 100%;
} 

.container{
    width: 1200px;
    margin: 0 auto;  /* отцентрировал блок*/
    padding: 0;
    background-color: rgb(255, 255, 255);
}
/*header*/
.nav-bar{
    display: flex;
    align-items: flex-end; /* отцентрировалаи по второстепеной оси*/
    justify-content:space-between; /*растянули по сторона*/
    min-height: 53px;
    margin-bottom: 126px;
}

.logo-mogo{
    display: block;
    font-size: 30px;
    font-family: var(--ffmb , --ffss);
    color:var(--color_main);
    line-height: 1.2;
    text-transform:uppercase;
    font-weight: bold;
}

.nav-link{
  display: flex;
  justify-content:	space-between;
  min-width: 490px;
  
}

.nav-link a{
    display: block;
    font-size: 14px;
    font-family: var(--ffmr , --ffss);
    color: var(--color_main);
    line-height: 1.2;
    text-transform: uppercase;
    
}
.nav-link a:hover{
    transition: color var(--hover_time) linear 0ms;
    color: var(--color_hover);
}
.nav-link a::after{
        content: "";
        display:block;
        transform: translateY(13px);
        height: 3px;
        background-color:var(--color_hover);
        opacity: 0;
}
.nav-link a:hover::after{
    opacity: 1;
    transition: opacity var(--hover_time) linear 0ms;
}

                                            /*main*/ 
/*Heading  названия оглавлений*/
.headings{
display: flex;
flex-direction:	column;/* изменили главную ось*/
align-items: center; /* отцентрировалаи*/
justify-content: space-between; /**/
min-height: 77px;
margin-bottom: 102px;
}
.headings h2{
    font-size: 30px;
    font-family: var(--ffmb);
    color: var(--color_h2p);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}
 
.headings h2::after{
    content: "";
    display:block;
    margin: 0 auto;
    transform: translateY(40px);
    width: 60px;
    height: 3px;
    background-color:var(--color_hover); 
}
.headings p{
    font-size: 24px;
    line-height: 1.2;
    font-family: var(--ffks);
    color: var(--color_h2p);
    
}
.headings p::first-letter{
    text-transform: uppercase;
}

/*amazing sevices*/
.amazing{
    display: flex;
    flex-direction:	column;
    justify-content: flex-end;
}
.content-amazing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 330px;
    background-color: rgb(210, 221, 241);
}
.content-amazing .box{
    flex: 0 0 380px;
    
}
.box a{
    display: block;
    margin-left: 82px;    
    font-size: 14px;
    font-family: var(--ffmr);
    color:var(--color_h2p);
    text-transform: uppercase;
    line-height: 1.2; 
    margin-bottom: 12px;
}
.box p{
    margin-left: 82px;
    font-size: 15px;
    line-height: 1.6;
    font-family: var(--ffrr);
    color: rgb(153, 153, 153);
    
}
.icon-cre::before, .icon-pho::before, .icon-web::before, .icon-seo::before, .icon-ch::before, .icon-dig::before{
    content: "";
    display: block;
    float: left;
    height: 34px;
    width: 34px;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(20px);
}

.icon-pho::before{
    background-image: url(../img/labe/ALARM.png);
}
.icon-cre::before{
    background-image: url(../img/labe/COMPUTER\ _\ OK.png);
}
.icon-web::before{
    background-image: url(../img/labe/LINE\ GRAPH.png);
}
.icon-dig::before{
    background-image: url(../img/labe/digital.png);
}
.icon-seo::before{
    background-image: url(../img/labe/BOOK\ 2.png);
}
.icon-ch::before{
    background-image: url(../img/labe/HOME.png);
}

    /*meet our team*/
.meet{
}

.list-team{
    display: flex;
    justify-content: space-between;
}

/*footer*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 62px;
}

.footer-text{}
.laaqiq{}

footer form
.footer-form{}
.footer-email{}
.footer-botton{}

