html{
    box-sizing: border-box;
}

*,
*::before,
::after{    
    box-sizing: inherit;
}

body{
    color: grey;
    font-size: 14px; /* размер шрифта*/
    line-height: 1.7;
}
/*Header bar*/
.conteiner{
 width: 1170px;
 margin: 0 auto;
 background-color: #fff;
 text-align: center;

}

a{
    text-decoration: none;  
}

li {
    list-style-type: none;
}

/* Site navigation bar */
.page-nav{
background-color: grey;
}

.page-nav li{
    display:inline-block; /* выровнял сылки по горезонтале*/
    
}
.page-nav li:not(:last-child){/*не добовлять для последнего ребёнка li даные */
    margin-right: 76px;
}
.site-nav{
    margin:0;
    padding: 0;
    font-size: 14px;
    list-style: none; 
}


/*Main bar*/
