html{
    box-sizing: border-box;
}

*,
*::before,
::after{    
    box-sizing: inherit;
}

body{
    color: grey;
    font-style: 14px;
    line-height: 1.7;
}
/*Header bar*/
.conteiner{
 width: 1170px;
 margin: 0 auto;
 background-color: #fff;
 text-align: center;

}

a{
    text-decoration: none;  
}

li {
    list-style-type: none;
}


.page-nav{
background-color: grey;
}

.page-nav li{
    display:inline-block;
    margin:0 40px;
}
.site-nav{

}
.color-link{

}

/*Main bar*/